# vim temporary files
*.swp

# directory which will contain the images uploaded to server
uploads/*

# virtual environment for Python
venv/*

# Python binary files
__pycache__/*
*.py[cod]

.env

# Large binary file used for testing
tests/test_files/large_file.bin

# Backup folder for test pictures
tests/test_files/bkp/*.jpg
tests/test_files/bkp/*.jpeg
tests/test_files/bkp/*.png