# vim temporary files
*.swp

# directory which will contain the images uploaded to server
uploads/*

# virtual environment for Python
venv/*

# Python binary files
__pycache__/*
*.py[cod]

# Normally, we would ignore ".env" file. I am just keeping it on GitHub for
# pedagogical purposes, so other people installing this can know what
# variables ".env" should contain. Of course, database username and password
# should be changed for production — or, even better, if you running your
# server and Postgres in the same machine, block any incoming traffic for
# port 5432.

# .env